*{
	margin: 0px;
	padding: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header{
	background-image: white;
	height: 120vh;
	background-size: cover;
	background-position: center;
        background-color:white;
        
}

ul{
	list-style-type: none;
	float: right;
	margin-top: 20px
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color:blueviolet;
	padding: 5px 20px;
	border: 1px solid transparent;
}

ul li a:hover{
	background-color:blueviolet;
	color: black;
}
.wrap{
	background-image: white;
	height: 120vh;
	background-size: cover;
	background-position: center;
	
}
.logo{
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%, -50%);
}
.name{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#panel, #flip {
  padding: 5px;
  font-size: 18px;
  background-color: blueviolet;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel {
  padding: 50px;
  display: none;
}
.cont{
	position: absolute;
	top: 80%;
	left: 38%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: blueviolet;
	border: 10px	
}